**/__pycache__
**/.vscode
rsrc
**/*.rar
ultralytics_yolov5_master
**/trusted_list
**/yolov5s.pt
data
**/*.pt
**/*.pickle
**/train*
**/*.ipynb
backend/assets
/backend/src/edge_detection.ipynb
edge_detection.ipynb